.writing-content {
  &-header {
    @include flexbox(between, start);
    height: 100px;

    button {
      margin-top: 10px;
    }
  }
}

.writing-title {
  textarea {
    font-size: 48px;
    font-weight: 700;
  }
}
