li {
  :hover {
    cursor: pointer;
  }
  * {
    margin: 0;
  }

  border: 1px solid grey;
  width: 20%;
  margin: 0.3rem;

  img {
    width: 100%;
  }

  div {
    h4 {
      margin: 0;
      padding-top: 0.1rem;
      padding-left: 0.3rem;
    }
    div {
      display: flex;
      padding-left: 0.3rem;
      p {
        margin: 0;
        margin-right: 0.5rem;
      }
    }
  }
}
