/* TENNIS TOGETHER logo font */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@media screen and (max-width: 768px) {
  .listPage {
    padding: 3rem;
  }
  .card {
    flex-direction: column;
  }
  .searchDiv {
    width: 100vw;
  }
}
